.header-row {
  background-color: #854690;
  font-family: Calibri, Tahoma, sans-serif;
  padding: 0 !important;
}

.navigation {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.navigation .menu.clearfix {
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0px;
}

.navigation li a {
  color: #ffffff;
}

.navigation li a:hover {
  text-decoration: none;
}
.leaf {
  width: 19%;
  text-align: center;
  vertical-align: middle;
}

.sponsors > img{
   margin-right: 55px;
}

.navigation li.leaf {
  list-style: none none;
  color: #ffffff;
  border-right: 1px solid;
	padding-bottom: 12px;
	padding-top: 5px;
	height: 35px;
	border-color: #743480;
}

.first.leaf{
	border-left: 1px solid;
}

.navigation li {
  padding: 0px;
  display: inline-block;
}

.navigation li:hover {
  background: #5d3165;
}

.congress {
  margin-top: -10px;
}

.content-region {
  width: 960px !important;
  float: none !important;
  margin-right: auto;
  margin-left: auto;
}

.congress {
  background-image: url("/sites/default/files/background.png");
  background-size: cover;
  overflow: auto;
}

.image {
  width: 50%;
  float: left;
  text-align: center;
}

.image img {
  max-width: 100%;
  margin-left: 40px;
}

.information {
  width: 50%;
  float: right;
  text-align: center;
  font-family: Calibri, Tahoma, sans-serif;
}

.title h1 {
  color: #F9B33B;
  font-family: "Times New Roman", Garamond, serif;
}
.speaker {
  color: #70C7C9;
}
.event {
  color: #F9B33B;
}
.date {
  font-weight: bold;
}
.main-sponsor strong {
  color: #70C7C9;
}
.main-sponsor {
  color: #797E80;
}
.sponsors {
  clear: both;
  text-align: center;
}

.registration-notes {
  float: right;
  width: 50%;
}

.registration-notes h1 {
  margin-top: 0px;
}
